<!-- start main footer  -->
<footer class="main-footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="col-md-4 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
      >
        <img
          src="../../../assets/images/tcc_logo_small.png"
          alt=""
          width="250"
          height="118"
        />
      </a>
    </div>

    <ul class="nav col-md-4 justify-content-start list-unstyled d-flex">
      <li class="ms-3 d-flex">
        <a class="text-muted text-muted-first" href="#"> Data protection</a>
        <a class="text-muted" href="#">Imprint </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#"
          ><img
            src="../../../assets/images/facebook.png"
            alt=""
            width="30"
            height="30"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#"
          ><img
            src="../../../assets/images/instagram.png"
            alt=""
            width="30"
            height="30"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#"
          ><img
            src="../../../assets/images/mail.png"
            alt=""
            width="30"
            height="30"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#"
          ><img
            src="../../../assets/images/social.png"
            alt=""
            width="30"
            height="30"
        /></a>
      </li>
    </ul>
  </footer>
</footer>
<!-- end  main footer  -->
